.example-form {
  margin-left: 10px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.myPanelClass{
  margin-left: 20px !important;
}
.example-full-width {
  margin-left: 10px;
  width: 100%;
}

.example-loading-shade {
  height: 392px;
  width: 40%;
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-container {
  margin-left: 20px;
  height: 392px;
  width: 40%;
  overflow: auto;
}

.example-loading-shade2 {
  height: 392px;
  width: 40%;
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-container2 {
  margin-left: 20px;
  height: 392px;
  width: 40%;
  overflow: auto;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-form2 {
  margin-left: 10px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width2 {
  margin-left: 10px;
  width: 100%;
}

